*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
 }
 
 
  

 .ordem-3{
    display: inline-flex;
    margin: 3px;
   list-style: none;
   
    
 }
 .ordem-3 li{
   padding: 5px;
    margin: 2px  20px 0px 20px;
    border: 1px solid rgb(250, 250, 250);
    background-color: rgb(4, 5, 1);
    border-radius: 10%;
    font-size: 16pt;
   
 }

 .ordem-3 li ul li a,.ordem-3 li ul li  {
   text-decoration: none;
   border: none;
   display:none; 
   vertical-align: middle;  
    }

 table.menu{
    text-align: center;
    margin: 110px auto;
    border: 1px none rgb(0, 0, 0);
    width: 500px;
    height: 500px;
    
 }

 thead  tr > th{
    background-color:blue;
    font-size: 20pt;
    color: white;
    padding: 2px;

 }

 tbody tr th{background-color: gray;
padding: 0px;
color: white;
font-size:16pt ;
}

tbody tr td{
    background-color: rgb(50, 12, 216);
    height: 35px;
}

tbody  td a{
    color: white;
    font-size: 16pt;
}

@media(max-width:680px){
    .titulo-menu{font-size: 16pt;
      top: -6px;
      
    }
    #menu-principal{
        top: 28px;
       width:100%;
       
       
        
    }

 #menu-principal a{
font-size:11pt;
text-decoration:none;
margin:0px}
 
    .ordem-3 li{
        font-size: 12pt;
        margin: 0px  1px 0px 1px;
        height: 20px;
    }

    tbody tr td{
        height: 30px;
    }
    tbody  td a{
        font-size: 12pt;
    }
    table.menu{
        width: 400px;
    }
    }


