.menu-principal{
    border: 1px solid black;
    background:#bbbbbb;
    color: white;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: fixed;
    
  }

  .titulo-menu{
    border: 1px solid blue;
    background: blue;
  color: rgb(250, 153, 9);
  margin: auto;
  font-size: 35px;
  text-align: center;
  width: 100vw;
  height: 45px;
  justify-content: center;
  position: fixed;
  top: 0px;
  
  }

  .menu-tabela{
    margin-top:20px;
    background: rgb(46, 7, 241);
    
  }

   .menu-tabela a {
    color:white;
    text-decoration: none;
  }

  .menu-tabela a:hover{
    color: red;
    text-decoration: none;
  }

  td{
    margin: 0px;
    padding: 10px 0px;
    width: 300px;
    text-align: center;

  }